absl-py @ file:///croot/absl-py_1686852429912/work
addict==2.4.0
aiofiles==22.1.0
aiohttp @ file:///croot/aiohttp_1707342283163/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiosqlite==0.20.0
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
async-timeout @ file:///croot/async-timeout_1703096998144/work
attrs==23.2.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
blinker @ file:///croot/blinker_1696539051175/work
boto3==1.34.71
botocore==1.34.71
bracex==2.4
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi==1.16.0
chamfer==2.0.0
charset-normalizer==3.3.2
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.2
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1710350347627/work
cycler==0.11.0
Cython==0.29.28
decorator==5.1.1
deepspeed==0.6.4
deprecation==2.1.0
docker-pycreds==0.4.0
easydict==1.9
emd-ext==0.0.0
entmax==1.3
exceptiongroup==1.2.1
executing==2.0.1
filelock==3.14.0
fonttools==4.51.0
frozenlist @ file:///croot/frozenlist_1698702560391/work
ftfy==6.2.0
fvcore==0.1.5.post20221221
gdown==5.2.0
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.43
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///opt/conda/conda-bld/google-auth-oauthlib_1660687784486/work
grpcio @ file:///croot/grpc-suite_1701982571719/work
h5py==3.6.0
hjson==3.1.0
idna @ file:///croot/idna_1666125576474/work
imageio==2.34.1
imagesize==1.4.1
importlib-resources==5.12.0
importlib_metadata==7.1.0
iopath==0.1.9
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.1.2
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-ydoc==0.2.5
jupyter_packaging==0.12.3
jupyter_server==2.14.0
jupyter_server_fileid==0.9.2
jupyter_server_terminals==0.5.3
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.7
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.4
Markdown==3.6
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.5.1
matplotlib-inline==0.1.7
mdx-truly-sane-lists==1.3
mergedeep==1.3.4
mkdocs==1.6.0
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.22
mkdocs-material-extensions==1.3.1
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
multidict @ file:///croot/multidict_1701096859099/work
multimethod==1.7
mypy-extensions==1.0.0
natsort==8.4.0
nbclassic==1.0.0
nest-asyncio==1.6.0
ninja==1.10.2.3
notebook_shim==0.2.4
numpy==1.23.0
oauthlib @ file:///croot/oauthlib_1679489621486/work
object-detection-0.1==0.1
opencv-python==4.9.0.80
overrides==7.7.0
packaging==24.0
paginate==0.5.6
pandas==2.0.3
parso==0.8.4
pathspec==0.11.1
pcd==0.2.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pkgutil_resolve_name==1.3.10
platformdirs==3.6.0
pooch @ file:///croot/pooch_1695850093751/work
portalocker==2.7.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.17.2
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pymdown-extensions==10.8.1
pynvml==11.5.0
pyOpenSSL @ file:///croot/pyopenssl_1708380408460/work
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2024.1
pyvista==0.33.2
PyYAML==6.0
pyyaml_env_tag==0.1
referencing==0.35.1
regex==2024.5.10
requests @ file:///croot/requests_1707355572290/work
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.0
rsa==4.9
s3transfer==0.10.1
scikit-learn==1.0.2
scipy==1.10.1
scooby==0.10.0
Send2Trash==1.8.3
sentry-sdk==2.1.1
setproctitle==1.3.3
shortuuid==1.0.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
tabulate==0.9.0
tensorboard @ file:///home/builder/mesters/opt/envs/tensorflow/conda-bld/tensorboard_1682445826165/work/tensorboard-2.12.1-py3-none-any.whl
tensorboard-data-server @ file:///croot/tensorboard-data-server_1681498183723/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl
tensorboard-plugin-wit==1.8.1
tensorboardX==1.8
termcolor==1.1.0
terminado==0.18.1
threadpoolctl==3.5.0
tomli==2.0.1
tomlkit==0.12.4
torch==1.12.1
torch-scatter==2.1.2+pt20cu117
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.4
tqdm==4.62.3
traitlets==5.14.3
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2023.3
ujson @ file:///opt/conda/conda-bld/ujson_1657544923770/work
urllib3 @ file:///croot/urllib3_1707770551213/work
vtk==9.3.0
wandb==0.17.0
watchdog==4.0.0
wcmatch==8.5.1
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug @ file:///croot/werkzeug_1706210078083/work
widgetsnbextension==4.0.10
y-py==0.6.2
yacs==0.1.8
yarl @ file:///croot/yarl_1701105127787/work
ypy-websocket==0.8.4
zipp==3.18.1
